body {
    font-family: 'Akshar', sans-serif;
    background-image: url("/public/images/mountains.png");
    background: #e0e5ec;
    position: relative;
    width: 100%;
    height: 100%;
}
h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Cormorant Garamond", serif;
}
p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
  }
  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
    outline: none;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  .btn-2 {
  
}
.btn-2:after {
  position: absolute;
  content: "";
  top: 5px;
  left: 6px;
  width: 90%;
  height: 70%;
  border: 1px solid #000;
  opacity: 0;
  transition: all 0.3s ease;
}
.btn-2:hover:after {
  opacity: 1;
}

#text_box {
    background-color:#ffffff;
    background-color: rgba( 255, 255, 255, 0.5 );
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    transform: translate(-50%, 100%);

    text-align: center;
    padding: 30px 0;
}