/* public/css/master.css */

body {
    font-family: 'Open Sans', sans-serif;
}   

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Cormorant Garamond", serif;
  }
  
  p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
  }
  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
    outline: none;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

img {
    max-width: 30%;
    max-height: 50%;
}
.flex-container{
    display: flex;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin:5px;
}
.flex-container.space-evenly{align-content: space-evenly;}


.flex-item{
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 36px;
    text-align: center;
}

.btn-11 {
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .btn-11:hover {
     background: #000;
    color: #fff;
  }
  .btn-11:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 3s ease-in-out infinite;
  }
  .btn-11:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
  
  
  @-webkit-keyframes shiny-btn1 {
      0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
      80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
      81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
      100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
  }

.breadcrumb-item {
    font-size: 0.8em !important;
}

.ellipsis {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 1 */
}

.board-table {
    table-layout: fixed;
}

.board-table .category
.board-table .numId,
.board-table .views {
    width: 100px;
    text-align: center;
}

.post-body {
    white-space: pre-line;
}

.post-info {
    font-size: 0.8em;
}

.post-index-tool {
    max-width: 450px;
}

.post-index-tool input[type='text'] {
    max-width: 130px;
}

.user-form {
    width: 400px;
}

.highlighted {
    background-color: yellow;
}

.post-body,
.comment-text {
    white-space: pre-line;
}

.comment-edit,
.comment-reply,
.comment-edit-enabled .comment-show {
    display: none;
}

.comment-edit-enabled .comment-edit,
.comment-reply-enabled .comment-reply {
    display: inherit;
}

.board-table .author,
.board-table .date {
    width: 100px;
}

.board-table .title-container:hover .title-comments,
.board-table .title-container:hover .title-text,
.board-table .title-container:hover .title-attachment
{
    text-decoration: underline;
}

#text_box2 {
    background-color:#ffffff;
    background-color: rgba( 255, 255, 255, 0.5 );
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    transform: translate(-50%, 100%);

    text-align: center;
    padding: 30px 0;
}