<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>

        <div class="container mb-3">

            <h2 class="mb-3" style="color: white;">About</h2>

            <p style="color:white">여행자들의 소중한 국내 여행 후기! 이 곳에서 확인하세요!</p>

        </div>
        <style>
            body {
                background-image: url("./images/seoul.jpg");
                background-attachment:fixed;
                background-size: cover;
                background-repeat: no-repeat;
          }
        </style>
</body>

</html>