<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<header>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
</header>

<body>
    <%- include('../partials/nav') %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="/public/css/master.css" rel="stylesheet" type="text/css" />
    <div id="post-body-wrapper">
        <div class="head-text" style="line-height: 500%;">
            <p style="font-size: 30px; font-family: 'Hi Melody', cursive; font-weight: bold; color:black"> 여행 테마 선택 </p> 
        </div>
        <div class="flex-container space-evenly" style="font-size: 25px; font-family: 'Hi Melody', cursive;">
            <button type="button" class="btm_image" id="img_btn" onclick="location.href='http://localhost:3000/posts?limit=10&searchType=category&searchText=%EB%93%9C%EB%9D%BC%EC%9D%B4%EB%B8%8C%EC%BD%94%EC%8A%A4'"><img src="https://cdn-icons.flaticon.com/png/512/5810/premium/5810740.png?token=exp=1653642891~hmac=5534f3a84194025faa2280088e9052ad" style="display:block; margin: auto;">드라이브 코스</button>
            <button type="button" class="btm_image" id="img_btn2" onclick="location.href='http://localhost:3000/posts?limit=10&searchType=category&searchText=%EC%82%B0+%26+%EB%B0%94%EB%8B%A4%EA%B0%80+%EA%B0%80%EA%B9%8C%EC%9A%B4'"><img src="https://cdn-icons.flaticon.com/png/512/1543/premium/1543881.png?token=exp=1653643884~hmac=d2ee240cc0ab967cc69be77d3932e4a6" style="display:block; margin: auto;">산 & 바다가 가까운</button>
            <button type="button" class="btm_image" id="img_btn3" onclick="location.href='http://localhost:3000/posts?limit=10&searchType=category&searchText=%EB%A7%9B%EC%A7%91%EC%9D%B4+%EB%A7%8E%EC%9D%80'"><img src="https://cdn-icons.flaticon.com/png/512/4902/premium/4902492.png?token=exp=1653643949~hmac=84b74afc4783f83ea15367307a1370c3" style="display:block; margin: auto;">맛집이 많은</button>
            <button type="button" class="btm_image" id="img_btn4" onclick="location.href='http://localhost:3000/posts?limit=10&searchType=category&searchText=%EC%84%A0%EC%82%AC%EC%9C%A0%EC%A0%81%EC%A7%80'"><img src="https://cdn-icons.flaticon.com/png/512/4902/premium/4902114.png?token=exp=1653644065~hmac=2c304205a3f8bfdb3452e0e478991029" style="display:block; margin: auto;">선사 유적지</button>
            <button type="button" class="btm_image" id="img_btn5" onclick="location.href='http://localhost:3000/posts?limit=10&searchType=category&searchText=%EB%8F%84%EC%8B%9C%EA%B2%BD%EA%B4%80%EC%9D%B4+%EC%9E%88%EB%8A%94'"><img src="https://cdn-icons-png.flaticon.com/512/6752/6752096.png" style="display:block; margin: auto;">도시경관이 있는</button>
        </div>
        <div id="text_box2" style="line-height: 20%;">
            <p style="font-size: 20px; font-family: 'Hi Melody', cursive; font-weight: bold; color:black">여행에 관한 당신의 이야기를 들려주세요! </p>
            <button class="custom-btn btn-11" onclick="location.href='http://localhost:3000/posts/new'">GO!</button>
        </div>
    </div>
    
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Akshar&family=Dongle:wght@700&family=Hi+Melody&family=Oswald&display=swap');
            body {
                font-family: 'Hi Melody', cursive;
                background-image: url("./images/gyungbokpalace.jpg");
                background-attachment:fixed;
                background-size: cover;
                background-repeat: no-repeat;
            }
        </style>

        <footer class="footer">
            <div class="footer img-wrapper">
            <div class="img">
            <a href="https://velog.io/@kjh950330">
                <img src="https://pbs.twimg.com/profile_images/1228368893321736193/Ov0og7E8_400x400.jpg" style="max-width: 2%; height: auto;" alt="velog">
            </a>
            <div class="footertext">
            copyright(c) 2022. jihan kong. All rights reserved.
            </div>
        </footer>
</body>

<link rel="stylesheet" href="/css/master.css">

</html>